.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 50px;
}

.about-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    /* gap: 30px; */
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.about-content div {
    text-align: left;
}

.about-content p {
    text-align: left;
    font-size: 13px;
    color: #dddddd94;
    line-height: 1.5;
}

.about-container img {
    width: 300px;
    height: 250px;
    filter: grayscale(100%)
}

@media (max-width: 998px) {
    .about-grid {
    grid-template-columns: 1fr;
    }

    .about-content .section-title {
        text-align: left;
        margin-bottom: 0.35rem;
    }
}

@media (max-width: 478px) {
    .about-grid img {
        max-width: 250px;
        height: 250px;
    }

    .about-container {
        padding: 50px 30px;
    }
}