:root {
  font-family: 'Inter', -apple-system, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: #101438; */
  background: #070a20ff;
  overflow-x: hidden;
}

.overlay {
  background: rgba(134, 134, 134, 0.062);
}

@media (max-width: 600px) {
  .overlay {
    background: rgba(134, 134, 134, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #00ffa0;
  color: #000;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.btn-outline {
  background: transparent;
  border: 2px solid #00ffa0;
  color: #00ffa0;
}

.btn-outline:hover {
  background: #00ffa0;
  color: #000;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 255, 160, 0.3);
}

.section-title {
  font-family: 'Inter', -apple-system, sans-serif;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 1.25rem;
  /* margin-bottom: 2rem;  32px = mb-8 */
  text-align: center;
  padding-top: 0.75rem;
  /* padding-bottom: 0.75rem; */
}

@media (max-width: 468px) {
  .section-title {
    font-size: 1.7em;
  }
}

.section-label {
  background-color: rgba(0, 255, 160, 0.05);
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  border: 1px solid rgba(0, 255, 160, 0.1);
}

.section-label-text {
  color: #00ffa0;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  letter-spacing: 0.5px;
}

body::-webkit-scrollbar {
  height: 6px;
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}

.otp-status-card {
  position: fixed;
  /* position: absolute; */
  right: 0;
  background: #00ffa223;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #00ffa2c4;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #00ffa0;
  width: 250px;
}

@media (max-width: 468px) {
  .otp-status-card {
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: #00ffa0;
    width: 170px;
  }
}
