.forgot-password-container {
    flex: 1;
}

.forgot-password-content {
    padding: 1.5rem 5rem;
}

.navigation-section {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  background: none;
  border: none;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

.back-button:hover {
  color: #00FFA0;
  transform: translateX(-5px);
}

.back-icon {
  color: #00FFA0;
  font-size: 16px;
}


.send-otp-button {
  cursor: pointer;
  background-color: #00FFA0;
  color: #101428;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  transition: all 0.3s ease;
}

.send-otp-button:hover {
  background-color: #00e691;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 255, 160, 0.2);
}

@media (max-width: 486px) {
    .forgot-password-content {
        padding: 1.5rem 1rem;
    }
}