.hero {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  overflow: hidden;
}

.hero-content {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 70px;
  z-index: 2;
  /* padding: 0 20px; */
}

.hero-texts {
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #00FFA0;
  padding-bottom: 20px;
  display: grid;
  line-height: 1.2;
}

.hero p {
  font-size: 15px;
  max-width: 560px;
  font-weight: 400;
  margin: 0 auto 2rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.6;
}

.hero-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.coin {
  position: absolute;
}

.coin img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coin-1 {
  background: #fee71559;
  width: 40px;
  height: 40px;
  top: 20%;
  left: 3%;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(-30deg);
}

.coin-2 {
  background: #fe1d1559;
  width: 40px;
  height: 40px;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  padding: 10px;
  transform: rotate(30deg);
}

.coin-3 {
  background: #1519fe59;
  width: 40px;
  height: 40px;
  top: 60%;
  left: 15%;
  padding: 5px;
  border-radius: 50%;
  transform: rotate(20deg);
}

.coin-4 {
  background: #1dfe1559;
  width: 40px;
  height: 40px;
  top: 70%;
  right: 20%;
  border-radius: 50%;
  padding: 5px;
  transform: rotate(-30deg);
}

.shape {
  position: absolute;
  border-radius: 50%;
  filter: blur(70px);
  opacity: 0.5;
  z-index: 1;
}

.shape-1 {
  background: #3b82f6;
  width: 150px;
  height: 150px;
  top: 30%;
  left: 10%;
  animation: float 8s ease-in-out infinite;
}

.shape-2 {
  background: #60a5fa;
  width: 150px;
  height: 150px;
  top: 10%;
  right: 10%;
  animation: float 10s ease-in-out infinite;
}

.shape-3 {
  background: #93c5fd;
  width: 150px;
  height: 150px;
  bottom: -10%;
  right: 20%;
  animation: float 12s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(-20px, -20px); }
}
/* 
@media (max-width: 1024px) {
  header {
    padding: 20px 30px;
  }
} */

@media (max-width: 768px) {
    .hero {
    height: auto;
    padding: 80px 20px;
  }

  .hero-content {
    margin-top: 0;
  }

  .hero-texts {
    gap: 0;
  }

  .hero-texts h1::before {
    content: 'Secure & Intuitive Crypto Trading';
    visibility: visible;
    font-size: 0.5em;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .hero-texts  h1 {
    visibility: hidden;
    position: relative;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .hero-btns {
    flex-direction: column;
    /* align-items: center; */
  }

  .hero-btns button {
    width: 100%;
  }

  .coin-1 {
  width: 40px;
  height: 40px;
  top: 10%;
  left: 3%;
  }

  .coin-2 {
  width: 40px;
  height: 40px;
  top: 23%;
  right: 3%;
  }

  .coin-3 {
  width: 40px;
  height: 40px;
  top: 60%;
  left: 15%;
  }

  .coin-4 {
  width: 40px;
  height: 40px; 
  top: 83%;
  right: 12%;
  }
  
  .btn {
    width: 100%;
    max-width: 250px;
  }
  
  .shape {
    display: none;
  }
}

@media (max-width: 480px) {
  /* .hero h1 {
    font-size: 2.2rem;
  } */

  .logo img {
    width: 100px;
    height: 50px;
  }
  
  .hero p {
    font-size: 1rem;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}