.back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  background: none;
  border: none;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

.back-button:hover {
  color: #00FFA0;
  transform: translateX(-5px);
}

.back-icon {
  color: #00FFA0;
  font-size: 16px;
}

.password-group {
  position: relative;
  margin-bottom: 1rem;
}

.password-toggle-btn {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle-btn:hover {
  color: #00FFA0;
}


.forgot-password {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.forgot-password-link {
    text-decoration: none;
    color: #dddddd96;
}

.login-button {
  cursor: pointer;
  background-color: #00FFA0;
  color: #101428;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #00e691;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 255, 160, 0.2);
}

.login-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.register-button {
  cursor: pointer;
  background: rgba(0, 255, 160, 0.1);
  color: #00FFA0;
  border: 1px solid #00FFA0;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
}

.register-button:hover {
  background: rgba(0, 255, 160, 0.2);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 255, 160, 0.1);
}