/* 
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
}

.logo img {
  width: 144px;
  height: 46px;
  display: block;
  object-fit: cover;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  white-space: nowrap;
}

.navbar a:hover {
  color: #00FFA0;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn .btn {
  padding: 10px 24px;
  font-size: 0.9rem;
}

.mobile-signup-btn {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #00FFA0;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.hamburger span:nth-child(2),
.hamburger span:last-child {
    width: 50%;
} */
