.otp-container {
  flex: 1;
  padding: 5rem 1rem;
}

.otp-status-card {
  top: 20%;
}

.back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  background: none;
  border: none;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

.back-button:hover {
  color: #00ffa0;
  transform: translateX(-5px);
}

.back-icon {
  color: #00ffa0;
  font-size: 16px;
}

.otp-container h2 {
  color: white;
  font-size: 1.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  padding: 0.75rem 0;
}

.otp-container p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-weight: 400;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25rem;
  text-align: center;
  padding-bottom: 2.25rem;
}

.otp-container strong {
  color: #00ffa0;
  font-size: 12px;
  font-weight: 400;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.otp-inputs {
  display: flex;
  gap: 30px;
}

.otp-inputs input {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
}

.otp-inputs input:focus {
  outline:#00e691 2px solid;
}

.verify-btn {
  cursor: pointer;
  background-color: #00ffa0;
  color: #101428;
  font-size: 15px;
  font-weight: 600;
  width: 50%;
  height: 2.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  transition: all 0.3s ease;
}

.verify-btn:hover {
  background-color: #00e691;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 255, 160, 0.2);
}

.verify-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.otp-timer {
  color: #00e691;
}

@media (max-width: 768px) {
  .otp-inputs input {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}

@media (max-width: 568px) {
  .otp-inputs {
    gap: 20px;
  }

  .otp-inputs input {
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }
}
