.reset-main {
  flex: 1;
  padding: 1.5rem;
}

.reset-container {
  padding: 1.5rem 2rem;
}

.reset-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.logo {
  width: 90px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #ffffffbf;
  background: none;
  border: none;
  cursor: pointer;
}

.reset-title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  padding: 0.75rem 0;
}

.reset-subtitle {
  color: #ffffffbf;
  font-size: 14px;
  font-weight: 400;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 2.25rem;
}

.form-wrapper {
  max-width: 700px;
  margin: 2rem auto 0;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.input-group label {
  font-size: 13px;
  color: #ffffffbf;
}

.input-group input {
  background: #ffffff1a;
  border: 1px solid #00ffa04d;
  border-radius: 8px;
  height: 50px;
  padding: 0 2.5rem 0 1rem;
  color: white;
  outline: none;
}

.input-group input::placeholder {
  font-size: 12.5px;
  color: #ccc;
}

.toggle-icon {
  position: absolute;
  right: 1rem;
  top: 42px;
  cursor: pointer;
  color: #fff;
}

.password-req {
  background: #ffffff0a;
  border: 1px solid #00ffa01a;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.password-req p {
  font-size: 12px;
  color: #ffffffbf;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.password-req ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #ffffff99;
}

.password-req li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.password-req li::before {
  content: "•";
  font-size: 14px;
  color: #ffffff99;
}

.password-toggle {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  right: 1rem;
  top: 2.75rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-btn {
  cursor: pointer;
  background: #00ffa0;
  color: #101428;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
  height: 44px;
  border: none;
  border-radius: 12px;
  margin-bottom: 1.25rem;
}

.remember-text {
  font-size: 16px;
  color: #ffffffbf;
  text-align: center;
  margin-bottom: 1.5rem;
}

.back-login-btn {
  cursor: pointer;
  background: #00ffa01a;
  border: 1px solid #00ffa0;
  color: #00ffa0;
  font-size: 15px;
  width: 100%;
  max-width: 100%;
  height: 44px;
  border-radius: 12px;
}

.resend-text {
  padding-top: 20px;
}

.resend-link {
  color: #00ffa0;
  cursor: pointer;
}