.trade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.trade-container img {
    width: 400px;
    height: 250px;
    display: block;
    object-fit: contain;
}

.trade-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trade-content h1 {
    font-size: 2rem;
}

.trade-content h1 ,
.trade-content span {
    color: #00FFA0;
}

.trade-content p {
    text-align: center;
    font-size: 14px;
}

.trade-button {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 998px) {
    .trade-container {
        flex-direction: column;
        gap: 0;
    }

    .trade-container img {
        width: 80%;
    }

    .trade-content h1 {
        text-align: center;
    }

}