.trade-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.trade-container img {
    width: 400px;
    height: 400px;
    display: block;
    object-fit: contain;
}

.trade-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trade-content h1 {
    font-size: 2rem;
}

.trade-content h1 ,
.trade-content span {
    color: #00FFA0;
}

.trade-content p {
    text-align: center;
    font-size: 14px;
}

.trade-button {
    display: flex;
    gap: 20px;
    align-items: center;
}

.trade-button button {
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.trade-button button:first-child {
    background: #00FFA0;
    border: none;
}

.trade-button button:last-child {
    background: transparent;
    border: 2px solid #00FFA0;
    color: #00FFA0;
}

@media (max-width: 998px) {
    .trade-container {
        flex-direction: column;
        gap: 0;
    }

    .trade-container img {
        width: 80%;
    }

    .trade-content h1 {
        text-align: center;
    }

}